<div class="container">
	<form (ngSubmit)=" onSubmit(registerationFrom) " #registerationFrom="ngForm">
		<h1 class='text-center'>Yalla Notlob</h1>
		
		<div class="form-group">
		  <label for="usr">Name:</label>
		  <input type="text" name='name' class="form-control" id="name" #name="ngModel" [(ngModel)]="user.name" required >
		  <div [hidden]=" name.valid || name.untouched "
	             class="alert alert-danger">
	          Name is required
	       </div>
		</div>
		<div class="form-group">
		  <label for="email">Email:</label>
		  <input type="text" pattern="(.)+@(.)+\.(.)+" name='email' class="form-control" id="email" #email="ngModel"  [(ngModel)]="user.email" required >
		  <div [hidden]=" email.valid || email.untouched "
	             class="alert alert-danger">
	          Invalid Email!
	       </div>
		</div>
		
		<div class="form-group">
		  <label for="usr">Password:</label>
		  <input type="password" name='password' class="form-control" id="password" #password="ngModel" [(ngModel)]="user.password" required >
		  <div [hidden]=" password.valid || password.untouched "
	             class="alert alert-danger">
	          Password is required
	       </div>
		</div>

		<div class="form-group">
		  <label for="usr">Confirm Password:</label>
		  <input type="password" name='confirm_password' class="form-control" #confirm_password="ngModel" id="confirm_password" [(ngModel)]="user.confirm_password"  required >
		  <div [hidden]=" confirm_password.untouched || ( confirm_password.valid  && user.password == user.confirm_password ) "
	             class="alert alert-danger">
	          Password doesn't match!
	       </div>
		</div>
		<div class="form-group">
			<label for="menu" class="control-label col-xs-2">Profile image</label>
		    <div class="col-xs-10">
		    	<input type="file" id="menu" #image (change)="selectImage(image)" required>
		   	 	<p class="help-block">Upload Your profile picture.</p>
		  	</div>	
		  	<div col-xs-6>
		  		<img src="{{imageUrl}}">
		  	</div>
		</div>	 
		<div class="form-group">
		 	<a routerLinkActive="active" routerLink="/login" >Already have an account? login here</a>
		</div>
		
		<div class="form-group">
			<a href="#">Fogot your password?</a>
		</div>
		<div>
			<ul>
				<li *ngFor="let error of errors">{{error}}</li>
			</ul>
		</div>
		<div>
			{{success_message}}
		</div>
		<div class="form-group">
			<input type="submit" name="submit" class='btn btn-success' value="Register" [disabled]="!registerationFrom.valid">
		</div>

	</form>
</div>	