<!-- Trigger the modal with a button -->
<a style="cursor:pointer;" data-toggle="modal" [attr.data-target]="'#'+modalId">{{ modalLinkTitle }}</a>

<!-- Modal -->
<div id="{{ modalId }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
      <app-users-list (removeUserEmitter)="removeUser($event)" [users]="membersSource" [buttonName]="buttonName" ></app-users-list>
      </div>
    </div>

  </div>
</div>